<script setup>
import Comments from "@/components/comments/Comments.vue";
</script>

<template>
    <div class="blog-post-holder">
        <div class="hero-image">
            <img
                src="https://cdn.searchenginejournal.com/wp-content/uploads/2022/06/image-search-1600-x-840-px-62c6dc4ff1eee-sej-760x400.png"
            />
        </div>
        <h1 class="blog-title blue_text">
            Generate Lorem Ipsum placeholder text. Select the number of
            characters, words, sentences or paragraphs, and hit generate!
        </h1>
        <div class="blog-content">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Phasellus vestibulum lorem sed risus ultricies tristique nulla
                aliquet enim. Neque sodales ut etiam sit amet nisl purus in.
                Scelerisque in dictum non consectetur a erat nam at lectus. Urna
                nec tincidunt praesent semper feugiat nibh sed pulvinar. Non
                odio euismod lacinia at quis risus sed vulputate odio. Dignissim
                suspendisse in est ante in nibh mauris cursus mattis. Erat nam
                at lectus urna duis. Eget felis eget nunc lobortis mattis
                aliquam faucibus. Pellentesque diam volutpat commodo sed
                egestas.
            </p>
            <p>
                Tincidunt ornare massa eget egestas purus. Mi bibendum neque
                egestas congue quisque egestas diam in. Aliquam ut porttitor leo
                a diam sollicitudin tempor id. Posuere sollicitudin aliquam
                ultrices sagittis orci a. Sed adipiscing diam donec adipiscing
                tristique risus nec feugiat. Amet dictum sit amet justo donec
                enim diam vulputate ut. At imperdiet dui accumsan sit amet nulla
                facilisi morbi tempus. Scelerisque in dictum non consectetur.
                Nulla aliquet porttitor lacus luctus accumsan. Ridiculus mus
                mauris vitae ultricies leo integer malesuada nunc vel. Pretium
                aenean pharetra magna ac placerat vestibulum lectus. Id neque
                aliquam vestibulum morbi blandit cursus risus at. Dolor purus
                non enim praesent elementum. Consectetur purus ut faucibus
                pulvinar elementum integer enim neque volutpat. Volutpat odio
                facilisis mauris sit. Dolor sit amet consectetur adipiscing elit
                duis tristique. Vitae elementum curabitur vitae nunc sed velit
                dignissim sodales ut. Id eu nisl nunc mi ipsum.asddd3334
            </p>
        </div>
        <Comments></Comments>
    </div>
</template>

<style lang="stylus" scoped>
.blog-post-holder
  .hero-image
    width 100%
    height 400px
    overflow hidden

    img
      width 100%

  @media (max-width: 768px)
    .hero-image
      height auto

    
      
    
  h1, p 
    margin-bottom 20px
</style>
