<script setup>
import AlowareInput from "@/components/AlowareInput.vue";
import AlowareTextarea from "@/components/AlowareTextarea.vue";
</script>

<template>
    <AlowareInput></AlowareInput>
    <AlowareTextarea></AlowareTextarea>
</template>

<style lang="stylus" scoped>

</style>
