<script setup>
</script>

<template>
    <div class="comment-holder">
        <div class="image">
            <img src="" />
        </div>
        <div class="content">
            <div class="name-and-time">
                <div class="name">Tiffany</div>
                <div class="time">4 hours a go</div>
            </div>
            <div clas="comment-body">This is some body comment</div>
            <div class="reply-btn">Reply</div>
        </div>
    </div>
</template>

<style lang="stylus" scoped>

</style>
