<script setup>
import Comment from "@/components/comments/Comment.vue";
</script>

<template>
    <Comment></Comment>
    <Comment></Comment>
    <Comment></Comment>
    <Comment></Comment>
    <Comment></Comment>
</template>

<style lang="stylus" scoped>

</style>
